<div class="home-page">
  <div class="top-bar">
    <h1>🛒 MarketCart</h1>

    <div class="nav-buttons">
      <a routerLink="/cart">
        <button>Go to Cart</button>
      </a>

      <a routerLink="/profile">
        <button>Go to Profile</button>
      </a>
    </div>
  </div>

  <div class="filters">
    <input
      type="text"
      placeholder="Search products..."
      [(ngModel)]="searchText"
      (input)="applyFilters()"
    />

    <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
      <option value="">All Categories</option>
      @for (category of categories; track category) {
        <option [value]="category">{{ category }}</option>
      }
    </select>

    <select [(ngModel)]="selectedColor" (change)="applyFilters()">
      <option value="">All Colors</option>
      @for (color of colors; track color) {
        <option [value]="color">{{ color }}</option>
      }
    </select>

    <select [(ngModel)]="selectedPrice" (change)="applyFilters()">
      <option value="">All Prices</option>
      <option value="under500">Under ₹500</option>
      <option value="500to1000">₹500 to ₹1000</option>
      <option value="above1000">Above ₹1000</option>
    </select>

    <select [(ngModel)]="selectedSort" (change)="applyFilters()">
      <option value="">Sort By</option>
      <option value="lowToHigh">Price: Low to High</option>
      <option value="highToLow">Price: High to Low</option>
    </select>
  </div>

  @if (loading) {
    <div class="empty-box">
      <h2>Loading products...</h2>
    </div>
  }

  @if (errorMessage) {
    <div class="empty-box">
      <h2>{{ errorMessage }}</h2>
    </div>
  }

  @if (!loading && !errorMessage && filteredProducts.length === 0) {
    <div class="empty-box">
      <h2>No products found 🔍</h2>
      <p>Try changing filters or search terms.</p>
    </div>
  }

  @if (!loading && !errorMessage && filteredProducts.length > 0) {
    <div class="product-grid">
      @for (product of filteredProducts; track product.id) {
        <div class="product-card">
          <img [src]="product.image" [alt]="product.name">

          <div class="product-info">
            <p class="category">{{ product.category }}</p>
            <h3>{{ product.name }}</h3>
            <p class="description">{{ product.description }}</p>

            <div class="bottom-row">
              <strong>₹{{ product.price }}</strong>
              <span>⭐ {{ product.rating }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>